Importing Necessary Dependenies

In [1]:
import pandas as pd

Load our data

In [2]:
FIELD_DATA_PATH = "../../data/field-data/nepal_forest_agb.csv"
PREPROCESSED_DATA_PATH = "../../data/field-data/preprocessed.csv"

In [3]:
df = pd.read_csv(FIELD_DATA_PATH)
# Shape of the dataframe
print(f"rows = {df.shape[0]}\ncolumns = {df.shape[1]}")
df.head()

rows = 2038
columns = 5

   plot_id        lon        lat     AGB_tha    SOC_tha
0  10-75-3  80.413257  28.870558  454.729757  26.133474
1  10-75-4  80.416348  28.867863         NaN   2.908981
2  10-75-6  80.416333  28.870571  499.730683  18.360387
3  10-84-4  80.405569  29.192646  367.626079  78.487313
4  10-92-3  80.392803  29.484019   11.786484        NaN

Basic Data Cleaning

In [4]:
# Dropping unnecessary columns
df.drop(columns=['SOC_tha'], axis=1, inplace=True)
# Drop null rows
df.dropna(inplace=True)
# Drop Duplicate rows
df.drop_duplicates(inplace=True)

# Shape of the dataframe
print(f"rows = {df.shape[0]}\ncolumns = {df.shape[1]}")

rows = 2009
columns = 4

plot_id (id) -> cluster_id, plot_id, subplot_id

In [5]:
df = df.rename(columns={"plot_id": "id"})
# Split id into three new columns
df[["cluster_id", "plot_id", "subplot_id"]] = df["id"].str.split(
    "-", expand=True
)
df.head()

        id        lon        lat     AGB_tha cluster_id plot_id subplot_id
0  10-75-3  80.413257  28.870558  454.729757         10      75          3
2  10-75-6  80.416333  28.870571  499.730683         10      75          6
3  10-84-4  80.405569  29.192646  367.626079         10      84          4
4  10-92-3  80.392803  29.484019   11.786484         10      92          3
5  10-92-4  80.395913  29.481326   77.825277         10      92          4

Save the preprocessed data

In [6]:
df.to_csv(PREPROCESSED_DATA_PATH, index=False)